/*
	Games Page
	================
*/
/*.game-cards {
	display: flex;
	justify-content: space-between;
}*/
.game-cards .game-card {
  width: 150px;
  padding: 0;
  margin: 0 5px; }

/* Vote percentage bar */
.vote-container {
  width: calc(100% - 4px) !important;
  margin: 9px auto 0 auto !important; }

.vote-thumbs-up,
.vote-thumbs-down {
  display: none !important; }

/* Make sponsored games more obviously ads */
.native-ad-label:after {
  content: " (Ad)"; }

/* Hide left side spacer to make game items centered on game category pages */
/*.games-responsive-wrapper .abp-spacer { display: none !important; }*/
/*.games-lists-single .game-cards-grid { flex-wrap: wrap !important; }*/
.ads-in-game-search .games-page-right-sidebar {
  top: 108px !important; }

.ads-in-game-search .abp-spacer {
  width: 304px !important; }

.ads-in-game-search .in-game-search-ad {
  width: 342px !important; }
