.btn-fixed-width {
	box-shadow: 0 1px 4px 0 hsl(0, 0%, 92%) !important;
	margin: 5px 0 5px 10px !important;
	padding: 8px 10px !important;
	background: hsl(202, 100%, 50%) !important;
	border: none;
	border-radius: 20px !important;
	font-weight: bold !important;
	color: hsl(0, 0%, 100%) !important;
}
